/* Custom fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Handlee&display=swap');



/* Title slide customization */
.title-slide h1, h2 {
  text-align: left;
  font-weight: bold;
}

.title-slide h1 {
  font-weight: bold;
  font-family: var(--header-font-family);
  color: var(--title-slide-text-color);
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 3px solid;
  border-color: var(--title-slide-text-color);
}

.inverse h2 {
  font-weight: normal;
  color: var(--primary);
}

.title-slide h2 {
  font-weight: normal;
}


.title-slide h3 {
  text-align: right;
}

/* Alignment */
.right{
  text-align: right;
}

/* Margins around headers */

h1, h2, h3 {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 5px;
  margin-left: 5px;
}

/* Font colors */
.primary { color: var(--primary) }
.secondary { color: var(--secondary) }
.tertiary {color: var(--tertiary)}
.fourth-color { color: var(--fourth_color)}
.light-pri {color: var(--light_pri)}
.light-sec {color: var(--light_sec)}
.light-ter {color: var(--light_ter)}
.light-fou {color: var(--light_fou);}


/* Font sizes */
.larger { font-size: 400% }
.large { font-size: 130% }
.midi { font-size: 85% }
.small { font-size: 70% }
.xsmall { font-size: 60% }
.tiny { font-size: 50% }

/* Custom fonts */

.huge-blue-number {
 /*font-family: 'Montserrat', sans-serif;*/
 font-size: 1700%;
 font-weight: bold;
 color: var(--primary);
}
.huge-orange-number {
 /* font-family: 'Montserrat', sans-serif; */
 font-size: 1700%;
 font-weight: bold;
 color: var(--secondary);
}

/* Handwriting */
.hand{
  font-family: 'Gochi Hand', cursive;
  font-size: 125%;
}
.hand-blue{
  font-family: 'Gochi Hand', cursive;
  color: var(--primary);
  font-size: 125%;
}

/*Alternative two-column layouts*/

  /*Left 70% - Right 30% */
.pull-left-wide {
  width: 70%;
  float: left;
}
.pull-right-narrow {
  width: 27%;
  float: right;
}
.pull-right-narrow ~ * {
  clear: both;
}

  /*Left 30% - Right 70% */
.pull-left-narrow {
  width: 30%;
  float: left;
}
.pull-right-wide {
  width: 67%;
  float: right;
}
.pull-right-wide ~ * {
  clear: both;
}


/* Four column layout */
.four-column {
  float: left;
  width: 25%;
  text-align: center;
}

/* Three column layout */
.three-column {
  float: left;
  width: 33%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Square bullets for lists */

ul{
  list-style-type: square;
}

/* Font Awesome */
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* Custom boxes */
.emphasis, .your-turn, .alert {
  padding: 5px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.emphasis{
  border-left: solid 5px var(--tertiary);
  background-color: var(--light_ter);
}
.alert {
  border-left: solid 5px var(--fourth_color);
  background-color: var(--light_fou);
}
.alert:before{
  font-family: "Font Awesome 5 Free";
  content: "\f071";
  font-size: 200%;
  font-weight: 900;
  color: var(--fourth_color);
  margin-bottom: 10px;
}
.your-turn {
  border-left: solid 5px var(--secondary);
  background-color: var(--light_sec);
}
.your-turn:before{
  content: "Your turn!";
  font-size: 150%;
  font-weight: bold;
  color: var(--secondary);
  margin-bottom: 10px;
}

/* Code highlighting */
.remark-code-line-highlighted {
  background-color: var(--secondary)
}


/* Footnote */
.footnote {
  position: absolute;
  bottom: 1em;
  padding-right: 4em;
  font-size: 70%;
}

/* Line Hover Indicator */
.remark-code-line:hover {
  color: var(--secondary);
  opacity: 1 !important;
}

.remark-code-line:hover:before {
  content: "\25B6";
  color: var(--secondary);
  position: absolute;
  transform: translateX(-1.2em);
  animation: hover 0.66s alternate 8 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes hover {
  0% {
    transform: translateX(-1.2em);
  }
  100% {
    transform: translateX(-0.8em);
  }
}