@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{font-family: 'Montserrat', sans-serif;}

.navbar-default{
  background-color: rgb(64, 180, 229); 
  color: black;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: rgb(64, 180, 229); 
  color: black;
}

.navbar-default .navbar-nav> li> a{
  color: black;
}

.navbar-default .navbar-link{
  color: black;
}

.navbar-default .navbar-link:hover{
  text-decoration: none;
}