.main-title {
  font-size: 80px;
  text-align: center;
}

.main-subtitle {
  font-size: 50px;
  text-align: center;
}

.btn-action-primary {
  color: white;
  background-color: #2c365e;
  border: 2px solid #2c365e;
}

.btn-action-primary:hover {
  background-color: white;
  color: #2c365e;
  border: 2px solid #2c365e;
}

.btn-action-secondary {
  color: #e98a15;
  border: 2px solid #e98a15;
}

.btn-action-secondary:hover {
  color: white;
  background-color: #e98a15;
}

.btn-action {
  min-width: 165px;
  border-radius: 30px;
}