
.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}


@media(min-width: 900px) {
.content-block {
  margin-left: 50px;
  margin-right: 50px;
}
}

@media (min-width: 1200px) {
.content-block {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
}

.hero-banner {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-banner h1 {
  font-size: 3.5rem;
}


.hero-banner .hero-image {
  position: absolute;
  display: none;
  height: auto;
}

.hero-banner .content-block {
  display: flex;
  flex-direction: row;
}

.hero-banner .content-block .hero-text {
  width: 55%;
}

.hero-banner .content-block .hero-animation {
  margin-left: 40px;
  margin-top: 45px;
  width: 350px;
  height: 455px;
}

.hero-banner .content-block .hero-animation video {
  width: 400px;
  height: 300px;
}

@media (min-width: 1000px) {
.hero-banner .hero-image {
  display: initial;
  width: 270px;
}
}

@media (min-width: 1200px) {
.hero-banner .hero-image {
  width: 340px;
}
}

@media (min-width: 1400px) {
.hero-banner .hero-image {
  width: 440px;
}
}

.hero-banner .hero-image p {
  margin-bottom: 0;
}

.hero-banner .hero-image-left {
  left: 0;
  bottom: 0;
}

.hero-banner .hero-image-right {
  right: 0;
  bottom: 0;
}


.hero-banner .content-block {
  z-index: 2;
}

@media (prefers-reduced-motion: reduce) {
  .hero-banner .content-block {
    max-width: 660px;
  }
  .hero-banner .content-block .hero-text {
    width: 100%;
  }
  
  .hero-banner .content-block .hero-animation {
    display: none;
  }
}

@media (max-width: 1200px)  {
  .hero-banner .content-block {
    max-width: 660px;
  }
  .hero-banner .content-block .hero-text {
    width: 100%;
  }
  
  .hero-banner .content-block .hero-animation {
    display: none;
  }
}


.hero-banner a {
  text-decoration: none;
}

.hero-banner h3 {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.hero-banner h4 {
  margin-top: 0;
}

.hero-banner a[role="button"] {
  margin-right: 17px;
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
}


.hero-banner #btn-guide {
  background-color: #959595 !important;
  border: none;
}




.hero-banner ul {
  padding-inline-start: 21px;
  font-size: 1.1rem;
}

.hero-banner ul li {
  padding-bottom: 0.4rem;
}


.btn-action-primary {
  color: white;
  background-color: #2c365e;
  border: 2px solid #2c365e;
}

.btn-action-primary:hover {
  background-color: white;
  color: #2c365e;
  border: 2px solid #2c365e;
}

.btn-action-secondary {
  color: #e98a15;
  border: 2px solid #e98a15;
}

.btn-action-secondary:hover {
  color: white;
  background-color: #e98a15;
}

.btn-action {
  min-width: 165px;
  border-radius: 30px;
}