.main-title {
  font-size: 80px;
  text-align: center;
}

.main-subtitle {
  font-size: 50px;
  text-align: center;
}

.btn-action-primary {
  color: white;
  background-color: #6d1e3d;
  border: 2px solid #6d1e3d;
}

.btn-action-primary:hover {
  background-color: white;
  color: #6d1e3d;
  border: 2px solid #6d1e3d;
}

.btn-action-secondary {
  color: #4fc3f7;
  border: 2px solid #4fc3f7;
}

.btn-action-secondary:hover {
  color: white;
  background-color: #4fc3f7;
}

.btn-action {
  min-width: 165px;
  border-radius: 30px;
}