.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.center-img {
  width: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h2, .h2 {
  padding-top: 16px;
}

/* .btn: a, .a {
    color:inherit;
}*/

.footnotes {
  font-size: 75%;
  filter: brightness(120%);
}

