/*-- scss:defaults --*/
/* @import 'https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,b,i'*/

$primary: #6d1e3d;
$secondary: #1976d2;
$navbar-bg: $primary;
$navbar-fg: rgb(255,255,255,.9);
$footer-fg: white;


/*-- scss:rules --*/

p {
  a {
    color: $secondary;
  }
  a:hover {
    color: lighten($secondary, 20%);
  }
}

a {
  color: inherit;
}

li {
  a {
    color: $secondary;
  }
  a:hover {
    color: lighten($secondary, 20%);
  }
}

table {
  a {
    color: $secondary;
  }
  a:hover {
    color: lighten($secondary, 20%);
  }
}

li {
  a {
    color: $secondary;
  }
  a:hover {
    color: lighten($secondary, 20%);
  }
}

dl {
  a {
    color: $secondary;
  }
  a:hover {
    color: lighten($secondary, 20%);
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
}